
/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
   .navigation {
      left: -300px;
   }

   .navigation.active {
      width: 300px;
      left: 0;
   }

   .main {
      width: 100%;
      left: 0;
   }

   .main.active {
      left: 300px;
   }

   .cardBox {
      grid-template-columns: repeat(1, 1fr);
   }

   .cardBox .card2 {
      display: none;
   }

   .navigation.active {
      width: 220px;
   }

   .main.active {
      left: 220px;
      width: calc(100% - 200px);
   }

   .secMain {
      margin-right: 0;
   }

   .details {
      grid-template-columns: 1fr;
   }

}

@media (max-width: 884px) {

   .details .recentOrders {
      min-height: 400px;
   }

   .recentOrders {
      overflow-x: auto;
   }

   .status.inProgress {
      white-space: nowrap;
   }

   /* .field {
      display: flex;
      justify-content: space-evenly;
   } */

   .field .value {
      position: relative;
   }

   .field .range-active input.range {
      width: 100%;
   }
}

@media (max-width: 480px) {
   .navigation .logo-flex {
      margin-top: 20px;
   }

   .cardBox {
      grid-template-columns: repeat(1, 1fr);
   }

   .cardHeader h2 {
      font-size: 20px;
   }

   .navigation {
      width: 100%;
      left: -100%;
      z-index: 1000;
   }

   .navigation.active {
      width: 100%;
      left: 0;
   }

   .toggle {
      z-index: 999999;
   }

   .main.active {
      left: 0;
   }

   .main.active .toggle {
      color: #fff;
      position: fixed;
      right: 0;
      left: auto;
   }

   .cardBox .card1 {
      /* background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%); */
      background: #36D1DC;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, var(--blue), #36D1DC);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, var(--blue), #36D1DC);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   }

   .card-left {
      color: white;
   }

   .card1 .imgBx {
      display: none;
   }

   .field {
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr;
      position: relative;
      align-items: center;
   }

   .field .value {
      position: absolute;
      right: 0;
   }
}


/* loader */

.container-loader {
   display: none;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   position: fixed;
   background-color: var(--blue);
   z-index: 9999999;
}

.progress-loader {
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
 }
 
 .progress-loader {
   width: 150px;
   background: rgba(236, 236, 238, 0.253);
   height: 3px;
   border-radius: 7px;
 }
 
 .progress {
   content: '';
   width: 1px;
   height: 3px;
   border-radius: 7px;
   background: rgb(255, 255, 255);
   transition: 0.5s;
   animation: loading1274 5s 1 forwards;
 }
 
 @keyframes loading1274 {
   0% {
     width: 0%;
   }
 
   10% {
     width: 10%;
   }
 
   50% {
     width: 40%;
   }
 
   60% {
     width: 60%;
   }
 
   100% {
     width: 95%;
   }
 }

/* night mode secMain */

.night-mode {
   transition: .3s ease-in;
   background-color: #313131;
   color: #ffffff;
   z-index: 1000;
   /* Add more styles for night mode here */
}

/* night mode card */
.night-mode-card {
   color: #fff;
   box-shadow: 0px 0px 15px #535353;
   transition: .3s ease;
   background-color: #222222;
   z-index: 1000;
}